<center><h1>NITROMOTHAFUCKINAPPLIANCEPARTS, YO</h1>
<%# @post.user.each do |user| %>
<%#= users.email.to_s %>
<%# end %>
<div id="user_nav">
<% if user_signed_in? %>
signed in as <%= current_user.email %>. not you?
<%= link_to "Sign out", destroy_user_session_path, :method => :delete%>
<% else %>
<%= link_to "sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %>
<% end %>
</div>
<br>
</center>

<table>
  <tr>
 <th>Id</th>
<th>Sku</th>
    <th>Product</th>
    <th>Description</th>
    <th>Price</th>
    
	<th>Producturl</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @posts.each do |post| %>
  <tr>
<td><%= post.id %></td>
<td><%= post.sku %></td>
    <td><%= post.product %></td>
    <td><%= post.description %></td>
    <td><%= post.price %></td>
    <td><%= post.producturl %></td>
    <td><%= link_to 'Show', post %></td>
    <td><%= link_to 'Edit', edit_post_path(post) %></td>
    <td><%#= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />



 <%= link_to 'New Post', new_post_path %>
