<h1>NITROMOTHAFUCKINAPPLIANCEPARTS, YO</h1>

<table>
  <tr>
 <th>Id</th>
<th>Sku</th>
    <th>Product</th>
    <th>Description</th>
    <th>Price</th>
    
	<th>Producturl</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @posts.each do |post| %>
  <tr>
<td><%= post.id %></td>
<td><%= post.sku %></td>
    <td><%= post.product %></td>
    <td><%= post.description %></td>
    <td><%= post.price %></td>
    <td><%= post.producturl %></td>
    <td><%= link_to 'Show', post %></td>
    <td><%= link_to 'Edit', edit_post_path(post) %></td>
    <td><%#= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />



 <%#= link_to 'New Post', new_post_path %>
